@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #efedf1;
  background: #0a070c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  width: 100vw;
  height: 100vh;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:focus,
input:hover,
input {
  outline: none !important;
  color: #efedf1;
  border-color: #9791a1 !important;
}

input::placeholder {
  color: #645c70 !important;
  font-size: 14px;
}

.static-message-notice-content {
  padding: 20px 30px !important;
  width: 100% !important;
  max-width: 600px !important;
}

.static-message-notice.static-message-notice-success .static-message-notice-content {
  background: #2b3631 !important;
}

.static-message-custom-content.static-message-success {
  color: #60c9a7 !important;
}

.static-message-custom-content.static-message-success .anticon.anticon-check-circle {
  color: #60c9a7 !important;
}

.static-message-notice.static-message-notice-error .static-message-notice-content {
  background: #f8b4b4 !important;
}

.static-message-custom-content.static-message-error {
  color: #b33737 !important;
}

.static-message-custom-content.static-message-error .anticon.anticon-check-circle {
  color: #b33737 !important;
}

.static-message-notice.static-message-notice-warning .static-message-notice-content {
  background: #353221 !important;
}

.static-message-custom-content.static-message-warning {
  color: #faad14 !important;
}

.static-message-custom-content.static-message-warning .anticon.anticon-exclamation-circle {
  color: #faad14 !important;
}

.static-message-notice.static-message-notice-info .static-message-notice-content {
  background: #cddbfe !important;
}

.static-message-custom-content.static-message-info {
  color: #455ccd !important;
}

.static-message-custom-content.static-message-info .anticon.anticon-info-circle {
  color: #455ccd !important;
}
